/*Start of basic body styles*/
body{
	font-size: 16px;
	color: #000000; /*Black colour*/
	background-color: ffffff; /*White*/
	font-family: sans-serif; /*Google fonts*/
	
	min-height: 100vh;
	
	display:flex;
	flex-direction:column;
}

#logo{
	width:150px;
}

.carousel-caption {
    top: 0;
    bottom: auto;
}

.card{
	width:300px;
}

#img-service-responsive, #img-service-marketing, #img-service-ecommerce{
	width:550px;
	height:550px;
}

#img-portfolio{
	width:400px;
	height:200px;
}

#img-clients{
	width:200px;
	height:200px;
}

#img-contact{
	width:400px;
	height:400px;
}

footer{
	margin-top:auto;
}

.bi{
	font-size:30px;
	margin: 10px;
}

#main-para{
	color:#000080; /*Navy Blue*/
	font-size: 30px;
}

#main-heading{
	font-family: Roboto Slab;
}